body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #111;
    color: #EEE;
    font-family: 'SF Pro Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 90%;
    width: 400px;
    padding: 40px;
    gap: 20px;
    border-radius: 12px;
    background: #222;
    text-align: center;
}

input {
    padding: 12px;
    border: 2px solid #555;
    border-radius: 8px;
    background-color: #2A2A2A;
    color: #EEE;
    font-size: 16px;
    transition: border .2s;
}

input:focus {
    border-color: #FC0;
    outline: none;
}

button {
    padding: 12px;
    background: #FC0;
    border: none;
    border-radius: 8px;
    outline: 2px solid #FC00;
    color: #222;
    font-size: 16px;
    cursor: pointer;
    transition: outline .2s;
}

button:is(:hover, :focus) {
    outline: 2px solid #FC0;
}

#error {
    margin-top: 15px;
    text-align: center;
    color: #F55;
}
