#slots input {
    font-size: inherit;
}

#slots-rolls {
    display: block;
    width: min(100vw - 250px, 1000px);
    height: min((100vw - 250px) / 5 * 3, 600px);
    margin: auto;
    overflow: hidden;
}
#slots-rolls span {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
}
#slots-rolls img {
    width: 100%;
    height: min((100vw - 250px) / 5, 200px);
    margin: 0;
}

#slots-stats {
    display: flex;
    justify-content: space-evenly;
    width: 520px;
    padding-bottom: 5px;
    margin: 20px auto 0 auto;
    color: #EEE;
}
#slots-stats > * {
    width: 50%;
    text-align: center;
}
#slots-bet-amount-box {
    box-sizing: border-box;
    padding: 10px 0 10px 20px;
    background: #333;
    border-radius: 10px;
    color: #EEE;
}
#slots-bet-amount-box input {
    width: 100px;
    padding: 10px 20px 10px 0;
    background: none;
    border: none;
    border-radius: 0 10px 10px 0;
    outline: none;
    color: #EEE;
}

#slots-bet * {
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    padding: 10px;
    background: #333;
    border: none;
    border-radius: 10px;
    color: #EEE;
    text-align: center;
}
#slots-bet *:not([disabled]) {
    cursor: pointer;
}
#slots-bet *:not([disabled]):is(:hover, :focus) {
    background: #444;
}
#slots-bet *:focus-visible {
    outline: none;
}

#slots-result {
    text-align: center;
}
